<a href="https://colab.research.google.com/github/MaluOto22/PracticaAgostoI/blob/main/Archivo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pandas
!pip install numpy
!pip install matplotlib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)

In [3]:
from google.colab import files
uploaded=files.upload()

Saving file.csv to file (1).csv

In [13]:
import pandas as pd
import io
df = pd.read_csv(io.BytesIO(uploaded['file.csv']),index_col=2)   #la columna 2 es la llave y se va al lado izq
#df=pd.read_csv('file.csv')
df.info()
df

<class 'pandas.core.frame.DataFrame'>
Index: 4554 entries, Nacional to Zacatecas
Data columns (total 6 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Periodo                                          4554 non-null   int64
 1   Trimestre                                        4554 non-null   int64
 2   Sexo                                             4554 non-null   object
 3   Poblacion_ocupada_en_la_industria_manufacturera  4554 non-null   object
 4   Poblaci n_ocupada                                4554 non-null   object
 5   Tasa_de_ocupaci n_en_la_industria_manufacturera  4554 non-null   object
dtypes: int64(2), object(4)
memory usage: 249.0+ KB

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2005,1,Hombres,4384907,26597801,16.485975660000000000000
Nacional,2005,1,Mujeres,2690296,14843275,18.124679360000000000000
Aguascalientes,2005,1,Hombres,56407,246177,22.913188480000000000000
Aguascalientes,2005,1,Mujeres,28430,145656,19.518591750000000000000
Baja California,2005,1,Hombres,167651,768989,21.801482210000000000000
...,...,...,...,...,...,...
Veracruz,2022,1,Mujeres,107640,1190733,9.0398099320000000000000
Yucat n,2022,1,Hombres,101992,691397,14.751582670000000000000
Yucat n,2022,1,Mujeres,82759,478943,17.279509250000000000000
Zacatecas,2022,1,Hombres,44105,402326,10.962503040000000000000
Zacatecas,2022,1,Mujeres,39472,255761,15.43315830000000000000

In [8]:
#filtro
filtro1=df[df["Periodo"]==2005]   #del data frame columna sexo, elige mujeres
filtro1

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2005,1,Hombres,4384907,26597801,16.485975660000000000000
Nacional,2005,1,Mujeres,2690296,14843275,18.124679360000000000000
Aguascalientes,2005,1,Hombres,56407,246177,22.913188480000000000000
Aguascalientes,2005,1,Mujeres,28430,145656,19.518591750000000000000
Baja California,2005,1,Hombres,167651,768989,21.801482210000000000000
...,...,...,...,...,...,...
Veracruz,2005,4,Mujeres,91162,966076,9.436317640000000000000
Yucat n,2005,4,Hombres,87066,488417,17.826160840000000000000
Yucat n,2005,4,Mujeres,74834,302926,24.703723020000000000000
Zacatecas,2005,4,Hombres,26631,353848,7.5261129070000000000000
Zacatecas,2005,4,Mujeres,19022,186475,10.200831210000000000000

In [ ]:
#filtro por filas, específicas
filtro2=df.iloc[[1000,2000,3000],:]  #de las filas 1000, 2000 y 3000 dame todas las columnas
#filtro por rango
filtro2=df.iloc[50:550,:]    #fila 50 a 550 todas las columnas
filtroCabeza=df.head()

In [9]:
#filtro por columnas
filtro3=df.iloc[:,2:5]  #contiguas
filtro3=df.iloc[:,[1,3,4]]   #Columnas 1,3 y 4

In [ ]:
#este filtro requiere columna llave, para estados específicos
filtro4=df.loc[["Puebla","Tlaxcala"],["Poblacion_ocupada_en_la_industria_manufacturera"]]
filtro4

In [18]:
filtro6=df[(df["Periodo"]>=2006) & (df["Sexo"]=="Mujeres")]
filtro6
filtro7=df[(df["Periodo"]>2008) | (df["Sexo"]=="Hombres")]
filtro7
filtro7.to_csv("Entregable.csv")
#descargar
from google.colab import files
files.download("Entregable.csv")